/*@import "~materialize-css/dist/css/materialize.min.css";*/
* {
    /*overflow: hidden;*/
}

.toast {
    border-radius: 2px;
    top: 35px;
    right: 0;
    width: auto;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    background: #323232;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: hidden;
}